body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
}
.header {
  background: #11100B;
  padding: 20px 0;
  color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  left: 320px;
}
.logo img {
  display: block;        
  max-width: 100px;     
  width: 100%;           
  position: relative;
  left: 505px;
}
.main {
  background: #0B4E65;
  padding: 200px;
}
.subaru_logo {
  display: block;        
  position: relative;
  top: -100px;
  right: 250px;
  height: 450px;
  width: 850px;
}
.inscription{
  display: block;
  width: 619px;
  height: 396px;
  position: relative;
  top: -550px;
  left: 650px;
}
.inscription2{
  color: white;
}
.inscription3{
font-size: 50px;
}
.inscription4{
  font-size: 30px;
  font-stretch: ultra-condensed
}
.button1{
 background-color: #1C1B14;
 border: none;
 color: white;
 padding: 32px 100px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 20px;
 border-radius: 15px;
 font-weight: bold;
}
.button1:hover {
  background-color: purple;
}
.button1 {
transition-property: background;
transition-duration: 0.3s;
transition-timing-function: ease;
transition-delay: 0.2s;
}
.main2{
  background: #1B2234;
  padding: 100px;
  position: relative;
}
.container_worker{
  padding: 20px ;
  background-color: #E8EDF0;
  display: block;
  font-size: 30px;
  font-stretch: expanded;
  height: 500px;
}
.employee_inscription{
  position: relative;
  padding-left: 500px;
  top: -350px;
}
.employee_inscription2{
  font-size: 80px;
}
.phone{
  position: relative;
  width: 100px;
  top: -150px;
  right: 80px;
}
.inscription_lower{
  width: auto;
   text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #FFFFFF;
}
.legend_container{
  width: 300px;
  text-align: center;
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: -40px;
}
.legend_container img,.legend_container2 img,.legend_container3 img,.legend_container4 img{
  width: 134px;
  height: 134px;
}
.legend2{
  color: white;
  font-size: 30px;
  margin-top: -30px;
  letter-spacing: 5px;
  font-weight: bold;
}
.legend_container2{
  width: 300px;
  text-align: center;
  color: white;
  text-align: center;
  font-size: 20px;
  padding-left: 500px;
  margin-top: -280px;
}
.legend3{
   color: white;
  font-size: 20px;
  margin-top: -30px;
  letter-spacing: 5px;
  font-weight: bold;
}
.legend_container3{
  width: 300px;
  text-align: center;
  color: white;
  text-align: center;
  font-size: 20px;
  padding-left: 900px;
  margin-top: -280px;
}
.legend4{
   color: white;
  font-size: 23px;
  margin-top: -30px;
  letter-spacing: 5px;
  font-weight: bold;
}
.legend_container4{
  width: 400px;
  text-align: center;
  color: white;
  text-align: center;
  font-size: 20px;
  padding-left: 1300px;
  margin-top: -255px;
}
.legend5{
   color: white;
  font-size: 20px;
  margin-top: -30px;
  letter-spacing: 5px;
  font-weight: bold;
}
.legend6{
   color: white;
  font-size: 20px;
  margin-top: -20px;
  letter-spacing: 5px;
  font-weight: bold;
}
.basement{
  width: auto;
  height: 200px;
  background-color: black;
}




